


h1 {
	font-family: Impact, Arial, sans-serif;
   font-size: 320%;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: rgb(40, 36, 36);
}

h2 {font-family: Tahoma, Arial, sans-serif;}

.galleryMeme {
	list-style: none;
	width: 100%;
}

.meme-img{
	display: inline-block;
	margin: 1%;
	width: 500px;
	height: auto;
	text-align: center;
	position: relative;
	opacity: 1;
}

img {width: 500px;}

.meme-img:hover {opacity: 0.6;}

.redCross {
	width: 500px;
	height: 250px;
	content: "X";
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -66%);
	font-weight: 700;
	text-align: center;
	font-size: 1500%;
	opacity: 0;
}

.redCross:hover {
	opacity: 0.9;
	z-index: 5;
}

.text {
	font-family: Impact, Arial, sans-serif;
	width: 500px;
	font-size: 250%;
	line-height: 1.1em;
	letter-spacing: 1.5px;
	color: white;
   text-transform: uppercase;
  hyphens: auto;
  opacity: 1;
}

.top {
	position: absolute;
	top: 0;
	z-index: 9;
	max-height: 50%;
}

.bottom {
	position: absolute;
	bottom: 0;
	z-index: 9;
	max-height: 50%;
}

